.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid var(--mantine-color-dark-4);
}

.logo {
    color: var(--mantine-color-white);
    font-size: var(--mantine-font-size-lg);
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
}

.link {
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
}